[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/alexander/bin/mymail
Name=Email
#Path=/home/alexander/bin
Icon=/home/alexander/.icons/email.png
#Comment=Wrapper for mutt
Categories=ConsoleOnly;Utility;
