[Desktop Entry]
Type=Application
Version=1.0
Name=TkRemind
Comment=Frontend for Dianne Skoll's Remind
Path=/usr/local/bin
Exec=tkremind
Icon=/home/alexander/.icons/calendar.png
Terminal=false
Categories=Utility;
